<%= content_for :title, "Savy Studios | About Me"%>
<%= render 'shared/hero_small' %>
<div class="container">
    <div class="row align-items-center">
        <div class="col d-flex justify-content-center">
            <%= image_tag 'me_and_kids.jpg', class: "image-fluid" %>
        </div>
        <div class="col-md-8 col-12 mt-4 mt-md-0">
            <p>
            Hey there, I am Savannah and I love turning everyday moments into extraordinary memories. Photography has been a passion of mine since high school.
             In college, I created a fashion blog with photos I took of myself in different parts of town. Photographing and editing my blog as a hobby led to a 
             love and passion for creating beautiful photos. I have had two sons since then, Jackson and Joshua, with my husband,
              Dylan (photoshop expert/web designer/hunk). It has been such a joy, and a great source of practice, to document their everyday adventures and 
              candid expressions the last three years. I have thoroughly enjoyed taking my place behind the camera and creating a little bit of magic for you. 
              As your photographer, I will guide you with questions, activities, and suggestions so together we can create and capture the everyday but beautiful 
              moments in life. Clients have described the photographs they received as colorful, airy, simplistic, and with a vintage feel. I can’t wait to meet you! 
            </p>
        </div>
    </div>
    <div class="container pt-5">
        <%= render 'shared/rates' %>
    </div>
</div>