@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');


$body-bg: #eccfc7;
$global-muted-background: #eccfc7 !default;
$primary: #b57540;

$primary-lighter: #f9f1ee;
$primary-lightest: #fbf5f4;

$secondary-darker: #4d321b;
$secondary-dark: #7a4f2b;
$secondary-base: #b57540;

$grey-darkest: #272727;
$grey-darker: #3b3a3a;

$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #b57540,
  "secondary": #fff,
);