@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');


$body-bg: #eccfc7;
$global-muted-background: #eccfc7 !default;

$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #b57540,
  "secondary": #fff,
);