<div class="container">
    <hr>
    <div class="row justify-content-around align-items-center text-center">
        <div class="col mx-auto">
        Copyright 2020 <%= fa_icon "copyright" %> 
        </div>
        <div class="col">
        <%= image_tag 'logo.png', class: "img-fluid mx-auto" %>
        </div>
        <div class="col mx-auto">
            <div class="row justify-content-around">
                <a href="https://www.facebook.com" target="_blank"><%= fa_icon "facebook" %></a>
                <a href="https://www.instagram.com" target="_blank"><%= fa_icon "instagram" %></a>
            </div>
        </div>
    </div>
</div>