<div class="uk-container uk-padding-small uk-margin-medium-top">
    <hr class="uk-divider-icon">
</div>
<div class='uk-flex uk-flex-around uk-flex-middle uk-flex-center uk-container uk-margin-large-bottom' >
    <div class="uk-flex-first uk-width-1-6 uk-text-muted">
        Copyright 2020
    </div>
    <div class="uk-width-1-6">
        <%= image_tag 'logo.png', class: "uk-logo" %>
    </div>
    <div class="uk-flex-last uk-flex-inline uk-flex-between uk-width-1-6"></div>
        <a href="https://www.facebook.com" class="uk-link-muted" uk-icon="facebook" target="_blank">
        <a href="https://www.twitter.com" class="uk-link-muted" uk-icon="twitter" target="_blank">
        <a href="https://www.instagram.com" class="uk-link-muted" uk-icon="instagram" target="_blank">
        
    </div>
</div>