<div class="container-fluid pb-3 pt-3 footer">
    <hr>
    <div class="row justify-content-around align-items-center text-center">
        <div class="col mx-auto">
            Copyright 2020 <i class="fa fa-copyright"></i> 
        </div>
        <div class="col">
            <%= image_tag 'logo.png', class: "img-fluid mx-auto", alt: "logo" %>
        </div>
        <div class="col mx-auto">
            <div class="row justify-content-around">
                <div class="d-flex col-8 justify-content-around">
                    <a href="https://www.facebook.com/savystargazer/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/savystargazer/" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>