<div class="col-md-10 col-12 border-right border-primary">   
    <% if @gallery %>
      <div class="card-columns container m-0" > 
        <% if controller.controller_name == 'home' %>
          <% @gallery.images.order(:position).limit(6).each do |image| %>
            <div class="card border-0 m-0 mb-3">
                <a class="lightbox" href="" data-featherlight="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center' }))  %>"><img src="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center' }))  %>" class="card-img img-fluid featured" ></a>
            </div>
          <% end %>
        <% else %>
          <% if @gallery.images.count > 0 %>
            <% @gallery.images.order(:position).each do |image| %>
              <div class="card border-0 m-0 mb-3">
                  <a class="lightbox" href="" data-featherlight="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center' }))  %>"><img src="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center' }))  %>" class="card-img img-fluid featured" ></a>
              </div>
            <% end %>
          </div>
          <% else %>
            </div>
            <h1> Theres nothing here yet.....</h1>
          <% end %>
        <% end %>
    <% else %>
      <h1>Theres nothing here yet.....</h1>
    <% end %>
</div>