<div class="container mt-1">
  <% if controller.controller_name == 'home' %>
    <h1 class="w-100">My Work</h1>
  <% elsif controller.controller_name == 'galleries' && controller.action_name == 'show' %>
    <h1 class="w-100"><%= @gallery.title%></h1>
  <% else %>
    <h1 class="w-100">Featured Gallery</h1> 
  <% end %>
   
  <hr>
  <div class="card-columns" > 
    <% @gallery.images.order(:position).each do |image| %>
      <div class="card border-0">
          <a class="lightbox" href="" data-featherlight="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center' }))  %>"><img src="<%= url_for(image.variant(combine_options: {auto_orient: true, gravity: 'center' }))  %>" class="card-img img-fluid featured" ></a>
      </div>
    <% end %>
  </div>
</div>