<ul class="nav nav-pills mt-4 nav-fill">
    <% @galleries.each do |gallery| %>
        <li class="nav-item">
            <%= link_to gallery.title, gallery_path(gallery), class: "nav-link #{gallery == @gallery ? 'bg-primary text-white' : ''}" %>
        </li>
    <% end %>
</ul>