<div class="jumbotron jumbotron-fluid jumbotron-large p-0 text-shadow">
  <div class="container h-100">
    <div class="row flex-column h-100 justify-content-end">
      <div>
        <h1 id="welcome" class="display-4 text-center animated d-none">Welcome to my studio</h1>
      </div>
      <div>
        <a href="#scroll-to" data-turbolinks="false"><h1 id="chevron" class="display-4 text-center animated bounce infinite"><i class="fa fa-chevron-down"></i></h1></a>
      </div>
    </div>
  </div>
  <div id="scroll-to"></div>
</div>