<div class="d-flex jumbotron jumbotron-fluid jumbotron-small align-items-end p-0">
      <div class="col-md-8 col-12 mx-auto">
          <h1 class="display-4 "><%= controller.controller_name.split('_').map(&:capitalize).join(' ') %></h1>
      </div>
</div>