<div class="jumbotron jumbotron-fluid hero-large p-0">
  <div class="container h-100">
    <div class="row flex-column h-100 justify-content-end">
      <div>
        <h1 id="welcome" class="display-4 text-center animated d-none">Welcome to my studio</h1>
      </div>
      <div>
        <h1 id="chevron" class="display-4 text-center animated bounce infinite"><%= fa_icon "chevron-down" %></h1>
      </div>
    </div>
  </div>
</div>