<div class="uk-position-relative">
    <div class="uk-height-large@m uk-background-cover uk-overflow-hidden uk-light uk-margin-large-bottom fill-view" style="background-image: url('/assets/hero.jpg')">
        <div class="uk-width-1-1@m uk-text-center uk-margin-auto uk-position-bottom" uk-parallax="y: -100; opacity: 1.5,0; viewport: 0.3;">
            <span uk-icon="icon: chevron-down; ratio: 5"></span>
        </div>
        <div class="uk-width-1-1@m uk-text-center uk-margin-auto uk-position-bottom last-item">
            <h1 uk-parallax="y: -50; opacity: -0.25,1;viewport: 0.6">Welcome to my studio</h1>
        </div>
    </div>
</div>