<div class="row align-items-left pt-5 container">
    <div class="col-12">
        <h2>Rates:</h2>
        <hr>
    </div>
    <div class="col ml-5">
        <div class="row">
            <div class="col-md-6 col-12">
                <h4>30-minute session:</h4>
                <ul>
                    <li>
                        $60 in Fort Worth, Arlington, or Mansfield
                    </li>
                    <li>
                        $80 in other parts of DFW
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-12">
                <h4>Wedding (whole day):</h4> 
                <ul>
                    <li>
                        $250, currently only accepting DFW weddings 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>