<div class="row align-items-left container-fluid mt-5">
    <div class="col-12 text-center">
        <h2>Rates</h2>
        <hr>
    </div>
    <div class="col ml-5">
        <div class="row">
            <% @packages.each do |p|%>
                <div class="col">
                    <h5><%= p.name %> (<%= p.time_frame %>):</h5>
                    <ul>
                        <% p.rates.each do |r|%>
                            <li>
                                <span class="font-weight-bold"><%= "$" + r.price.to_s %></span> - <%= r.description %>
                            </li>
                        <% end %>
                    </ul>
                </div> 
            <% end %>
        </div>
    </div>
</div>