<% content_for :title, "Savy Studios | Coming Soon" %>
<div class="d-flex jumbotron jumbotron-fluid jumbotron-small align-items-end p-0">
    <div class="container">
        <h1 class="display-4 ">
            <i class="fas fa-store"></i>
            Savy Shop
        </h1>
    </div>
</div>
<div class="container">
    <hr>
    <div class="mx-auto  flex-row justify-content-center align-items-center">
        <div class="text-center">
            <%= image_tag 'comingSoon.png', class: "img-fluid w-50" %>
        </div>
    </div>
</div>
