<% content_for :title, "Savy Studios | Coming Soon" %>
<div class="d-flex jumbotron jumbotron-fluid jumbotron-small align-items-end px-4">
    <div class="container-fluid">
        <h1 class="display-4 ">
            <i class="fas fa-store"></i>
            Savy Shop
        </h1>
    </div>
</div>
<div class="container-fluid">
    <hr>
    <div class="mx-auto  flex-row justify-content-center align-items-center">
        <div class="text-center">
            <%= image_tag 'comingSoon.png', class: "img-fluid w-25" %>
            <h2 class="mt-5">In the meantime, visit my Etsy shop!</h2>
            <a class="btn btn-primary mt-5 shadow" href="https://www.etsy.com/shop/SavyStudios" target="_blank" rel="noopener" role="button">Visit Shop</a>
        </div>
    </div>
</div>
