<% content_for :title, "Savy Studios | #{@gallery ? @gallery.title.capitalize : 'Featured'}"%>
<%= render 'shared/hero_small' %>
<div class="container-fluid">
    <%= render 'shared/gallery_nav' %>
    <%= render 'shared/gallery' %>
</div>
