$primary: #b57540 !default;
$secondary: #fff !default;
$body-bg: #eccfc7 !default;
$global-muted-background: #eccfc7 !default;

body{
    font-family: 'Lora', serif !important;
}
h1{
    font-style: italic;
    font-weight: 700;
}

a {
    font-family: 'Lora', serif !important;
}


.jumbotron {
    color: white;
    background-image: url("/assets/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

.navbar-inner {
    background:transparent;
}