body{
    font-family: 'Lora', serif !important;
}
h1{
    font-style: italic;
    font-weight: 700;
}

a {
    font-family: 'Lora', serif !important;
}


.jumbotron {
    color: white;
    background-image: url("/assets/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
.nav-item:hover{
    text-decoration: underline;
}
