//@import "base/mixins.scss";
//@import "base/normalize.scss";
@import "base/globals";
@import "styles/shared";

@import "animate";
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      .border#{$infix}-top {      border-top: $border-width solid $primary !important; }
      .border#{$infix}-right {    border-right: $border-width solid $primary !important; }
      .border#{$infix}-bottom {   border-bottom: $border-width solid $primary !important; }
      .border#{$infix}-left {     border-left: $border-width solid $primary !important; }
  
      .border#{$infix}-top-0 {    border-top: 0 !important; }
      .border#{$infix}-right-0 {  border-right: 0 !important; }
      .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
      .border#{$infix}-left-0 {   border-left: 0 !important; }
  
      .border#{$infix}-x {
        border-left: $border-width solid $primary !important;
        border-right: $border-width solid $primary !important;
      }
  
      .border#{$infix}-y {
        border-top: $border-width solid $primary !important;
        border-bottom: $border-width solid $primary !important;
      }
    }
  }
